<%#
 Copyright 2019-2023 the original author or authors from the JHipster project.
 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<%_
const hasManyToMany = entityClassHasManyToMany;
const entityTableName = snakeCasedEntityClass;
const entityClassName = pascalizedEntityClass;
const entityVariableName = camelCasedEntityClass;
const entityClassNamePluralized = pascalizedEntityClassPlural;
_%>
using System.Linq;
using System.Threading.Tasks;
using AutoFixture;
using Blazorise;
using Blazorise.Bootstrap;
using Blazorise.Icons.FontAwesome;
using Bunit;
using Bunit.Rendering;
using FluentAssertions;
using <%= namespace %>.Client.Models;
using <%= namespace %>.Client.Pages.Entities.<%= entityClassName %>;
using <%= namespace %>.Client.Pages.Utils;
using <%= namespace %>.Client.Services.EntityServices.<%= entityClassName %>;
using Microsoft.AspNetCore.Components;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.DependencyInjection.Extensions;
using Moq;
using Xunit;

namespace <%= namespace %>.Client.Test.Pages.Entities.<%= entityClassName %>;

public class <%= entityClassName %>DetailTest : TestContext
{
    private readonly Mock<I<%= entityClassName %>Service> _<%= lowerCasedEntityClass %>Service;
    private readonly Mock<INavigationService> _navigationService;
    private readonly AutoFixture.Fixture _fixture = new AutoFixture.Fixture();

    public <%= entityClassName %>DetailTest()
    {
        _<%= lowerCasedEntityClass %>Service = new Mock<I<%= entityClassName %>Service>();
        _navigationService = new Mock<INavigationService>();
        Services.AddSingleton<I<%= entityClassName %>Service>(_<%= lowerCasedEntityClass %>Service.Object);
        Services.AddSingleton<INavigationService>(_navigationService.Object);
        Services.AddBlazorise(options =>
            {
                options.Immediate = true;
            })
            .Replace(ServiceDescriptor.Transient<IComponentActivator, ComponentActivator>())
            .AddBootstrapProviders()
            .AddFontAwesomeIcons();
        //This code is needed to support recursion
        _fixture.Behaviors.OfType<ThrowingRecursionBehavior>().ToList()
            .ForEach(b => _fixture.Behaviors.Remove(b));
        _fixture.Behaviors.Add(new OmitOnRecursionBehavior(1));
    }

    [Fact]
    public void Should_Display<%= entityClassName %>_When_IdIsPresent()
    {
        //Arrange
        var <%= lowerCasedEntityClass %> = _fixture.Create<<%= asModel(entityClassName) %>>();
        _<%= lowerCasedEntityClass %>Service.Setup(service => service.Get(It.IsAny<string>())).Returns(Task.FromResult(<%= lowerCasedEntityClass %>));
        var <%= lowerCasedEntityClass %>Detail = RenderComponent<<%= entityClassName %>Detail>(ComponentParameter.CreateParameter("Id", <% if(primaryKeyType !== 'string') { _%> 1L <%_ } else { _%> "1" <%_ } _%>));

        // Act
        var title = <%= lowerCasedEntityClass %>Detail.Find("h2");

        // Assert
        title.MarkupMatches($"<h2><span><%= entityClassName %></span>{<%= lowerCasedEntityClass %>.Id}</h2>");

    }

    [Fact]
    public void Should_NotDisplay<%= entityClassName %>_When_IdIsNotPresent()
    {
        //Arrange
        _<%= lowerCasedEntityClass %>Service.Setup(service => service.Get(It.IsAny<string>())).Returns(Task.FromResult(new <%= asModel(entityClassName) %>()));
        var <%= lowerCasedEntityClass %>Detail = RenderComponent<<%= entityClassName %>Detail>();

        // Act
        var title = <%= lowerCasedEntityClass %>Detail.Find("div.col-8");

        // Assert
        title.Children.Length.Should().Be(0);

    }
}
