<%_ 
const hasManyToMany = entityClassHasManyToMany;
const entityTableName = snakeCasedEntityClass;
const entityClassName = pascalizedEntityClass;
const entityVariableName = camelCasedEntityClass;
const entityClassNamePluralized = pascalizedEntityClassPlural;
_%>
@page "/<%= lowerCasedEntityClass %>/{Id:int}/view"
@using Microsoft.AspNetCore.Authorization
@namespace <%= namespace %>.Client.Pages.Entities.<%= entityClassName %>

@attribute [Authorize(Roles = "ROLE_USER")]

<div class="row justify-content-center">
    <div class="col-8">
        @if (<%= entityClassName %> != null && <%= entityClassName %>.Id != 0)
        {
            <div>
                <h2><span><%= entityClassName %></span>@<%= entityClassName %>.Id</h2>

                <hr>

                @*<jhi-alert-error></jhi-alert-error>*@

                <dl class="row-md jh-entity-details">
                    <%_ fields.forEach(field => {
                        if (field.id) return; _%>
                    <dt><span><%= field.fieldNameHumanized %></span></dt>
                    <dd>
                        <span>@<%= entityClassName %>.<%= field.fieldNamePascalized %></span>
                    </dd>
                    <%_ }); _%>
                    <%_ relationships.forEach(relation => {
                         if(relation.relationshipType === 'one-to-one' || relation.relationshipType === 'many-to-one' ) { _%>
                    <dt><span><%= relation.relationshipFieldNamePascalized %></span></dt>
                    <dd>
                        <%_ if(relation.otherEntityNamePascalized === 'User') { _%>
                        @if (<%= entityClassName %>.<%= relation.relationshipFieldNamePascalized %>Id != string.Empty)
                        <%_ } else { _%>
                        @if (<%= entityClassName %>.<%= relation.relationshipFieldNamePascalized %>Id != 0)
                        <%_ } _%>
                        {
                            <div>
                                <%_ if(relation.otherEntityNamePascalized === 'User') { _%>
                                <span>@<%= entityClassName %>.<%= relation.relationshipFieldNamePascalized %>Id</span>
                                <%_ } else { _%>
                                <a href="/<%= relation.otherEntityNameLowerCased %>/@<%= entityClassName %>.Id/view">@<%= entityClassName %>.<%= relation.relationshipFieldNamePascalized %>Id</a>
                                <%_ } _%>
                            </div>
                        }
                    </dd>
                    <%_ } else if ((relation.relationshipType === 'many-to-many' || relation.relationshipType === 'one-to-many') && relation.ownerSide === true ) { _%>
                    <dt><span><%= relation.relationshipFieldNamePascalized %></span></dt>
                    <dd>
                        @foreach (var <%= relation.otherEntityNameLowerCased %> in <%= entityClassName %>.<%= relation.relationshipFieldNamePascalizedPlural %>){
                            <span>
                                <a href="/<%= relation.otherEntityNameLowerCased %>/@<%= relation.otherEntityNameLowerCased %>.Id/view">@<%= relation.otherEntityNameLowerCased %>.Id</a>
                                @if (<%= relation.otherEntityNameLowerCased %> != <%= entityClassName %>.<%= relation.relationshipFieldNamePascalizedPlural %>.Last()) { <span>, </span>}
                            </span>
                        }
                    </dd>
                        <%_
                    }}); _%>
                </dl>

                <button @onclick="Back" class="btn btn-info">
                    <Icon Name='"fa-arrow-left"' />&nbsp;<span>Back</span>
                </button>

                <a href="/<%= lowerCasedEntityClass %>/@<%= entityClassName %>.Id/edit" class="btn btn-primary">
                    <Icon Name='"fa-pencil-alt"' />&nbsp;<span>Edit</span>
                </a>
            </div>
        }
    </div>
</div>